html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background-image: linear-gradient(to bottom, #ffd2de, #ffccdf, #ffc6e2, #ffc1e7, #ffbced); */
}
a {
  text-decoration: none;
  font-size: 1.3rem;
}

.header {
  display: flex;
  background-color: #57E4FF;
  width: 100%;
  align-items: center;
}
.h1-header {
  margin: 10px 0 10px 15px;
  color: white;
  font-size: 1.6rem;
}
.div-header {
  margin-left: auto;
  margin-right: 15px;
  display: flex;
}
.item-header {
  margin-left: auto;
  margin-right: 15px;
  color: white;
}
.item-header:hover {
  font-weight: bold;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.info-carrinho{
  padding: 10px;
  display: flex;
  align-items: center;
}

.div-checkout{
  margin-right: 10px;
  margin-left: auto;
}
.div-checkout i{
  color: #A284C5;
  font-size: large;
}
.div-checkout a{
  color: #A284C5;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coluna-direita {
  width: 100%;
  background-color: white;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #D9B9FE;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 22%;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.card i{
  font-size: 25px;
  color: white;
  margin: 5px 10px 5px auto;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: auto;
}

.descricao {
  font-size: 16px;
  text-align: center;
  color: #324B50;
}

.div-footer {
  display: flex;
  background-color: #57E4FF;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: auto;
  margin-bottom: 0;
}
.div-footer p {
  color: white;
  margin: 0px;
}

.subtitulo{
  color: #324B50;
}

label{
  color: #324B50;
}

input{
  border: 1px solid gainsboro;
  border-radius: 8px;
  font-size: 14px;
  line-height: 16px;
  height: 26px;
}

input:hover{
  border: 1px solid #D9B9FE;
}

.formulario{
  display: grid;
  padding: 10px;
}

@media only screen and (max-width: 1200px) {
  .card {
    width: 25%;
  }
}

@media only screen and (max-width: 900px) {
  .card {
    width: 40%;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    width: 85%;
  }
}
