.div-sobre {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.img-perfil {
  width: 300px;
  height: auto;
  border-radius: 250px;

  box-shadow: 0 0 75px white;
}

.div-card-perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h2-nome-perfil {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: bold;
  color: #222222;
}
.div-redes-sociais {
  margin-top: 0px;
}

.fab,
.fas {
  font-size: 1.9rem;
  margin: 5px;
}

.fa-linkedin {
  color: #242424;
}
.fa-instagram {
  color: #242424;
}
.fa-facebook-square {
  color: #242424;
}
.fa-at {
  color: #242424;
}
